log/*
screenlog.*
*.log
tmp/**/*
tmp/*
.dotest/
.dotest/*.
tmp/.*
tmp/*
tmp/profile*
.DS_Store
doc/plugins
doc/api
doc/app
doc/*.doc
doc/*.zip
config/initializers/session_secret.rb
config/initializers/smtp.rb
config/database.yml
db/schema.sql
db/schema.rb
db/*.sqlite3*
public/stylesheets/*.css
!public/stylesheets/reset.css
public/javascripts/all.js
public/system
uuid.state
nbproject*
index/*
identifier
secret
last_run
.project
.conductor/*
.conductor/**/*
.*.sw?
.#*
\#*
*~
vendor/**/**/doc/*
vendor/plugins/footnotes/*
rsa_key*
sphinx/*
db/sphinx/*
config/*.sphinx.conf
system/datas/*
sqldumps/*
config/environments/test_*.rb
capybara*.html
.bundle/*
.rspec
public/sitemap.xml
