db_backups/*
log/*
screenlog.*
*.log
tmp/**/*
tmp/*
.dotest/
.dotest/*.
tmp/.*
tmp/*
tmp/profile*
.DS_Store
doc/plugins
doc/api
doc/app
doc/*.doc
doc/*.zip
config/initializers/secret_token.rb
config/initializers/smtp.rb
config/initializers/api_keys.rb
config/initializers/devise.rb
config/database.yml
db/schema.sql
db/schema.rb
db/*.sqlite3*
public/stylesheets/*.css
public/javascripts/all.js
public/system
public/assets/
uuid.state
nbproject*
index/*
identifier
secret
last_run
.project
.conductor/*
.conductor/**/*
.*.sw?
.#*
\#*
*~
vendor/**/**/doc/*
vendor/plugins/footnotes/*
.sass-cache
rsa_key*
sqldumps/*
capybara*.html
.bundle/*
.rspec
public/sitemap.xml
*.swp
insight.sqlite
coverage.vim
coverage/
.idea
db_backups/
*.esproj
.sass-cache
.ruby-version
.ruby-gemset
errors.err
.rspec-local
.ctrlp-root
apache-passenger.conf
public/test-assets/
.idea/
*.orig
config/bibliotech/
config/secrets.yml
.envrc
config/initializers/secret_token.rb
