- set_headline ""

/ headline, e.g. 'Showing Work Unit Details', obscures Capybara clicking on Edit button

.button-wrap
  = link_to 'Edit', edit_work_unit_path(@work_unit), class: 'button radius'

%p
  %b Project:
  =h @work_unit.project_id

%p
  %b User:
  =h @work_unit.user_id

%p
  %b Start time:
  =h @work_unit.start_time

%p
  %b Stop time:
  =h @work_unit.stop_time

%p
  %b Hours:
  =h @work_unit.hours

%p
  %b Invoiced:
  =h @work_unit.invoiced?

%p
  %b Billed:
  =h @work_unit.billed?


= page_block("Annotations", :id => "wu_annotations") do
  %table.listing
    %thead
      %tr
        %th Annotation
        %th Time
        %th Project
    %tbody
      = render :partial => "shared/wu_annotations_narrow", :collection => @work_unit.activities, :as => :annotations
