- set_headline "Editing Invoice"

.button-wrap
  = link_to 'Show', @invoice, class: 'button radius'
  = link_to 'Back to List', invoices_path, class: 'button radius'

= render :partial => "form"

= render :partial => 'invoice_details'