-set_headline "Groups"

%ul.actions
  %li= link_to_if_admin_authorized("Create New Group", new_group_path)

%table.listing
  %tr
    %th Group Name
  - @groups.each do |group|
    %tr
      %td= link_to_if_admin_authorized(group.name, group_path(group))
      %td
        = link_to_if_admin_authorized("Edit", edit_group_path(group))
        = link_to_if_admin_authorized("Delete", group_path(group), :method => :delete)
