- klass = "block #{cssclass}"
- klass += " with_title" if title

%div{ :class => klass.to_s, :id => cssid.to_s  }
  -if title
    = block_title(title, cssid)
    - if defined?(extratitle)
      .extratitle= extratitle
  .block_content
    =body unless body.blank?
