-page_block("Recent Work", :id => "recent_work") do 
  %table.listing
    %tr
      %th Project / Notes
      %th Hrs
      %th                                           
      
    - current_user.recent_work_units.each do |wu|
      = render :partial => "shared/work_unit_narrow", :locals => { :work_unit => wu }       
