= page_block("Recent Work", :id => "recent_work") do
  %table.listing
    %thead
      %tr
        %th Project
        %th Hrs
        %th
    %tbody
      = render :partial => "shared/work_unit_narrow", :collection => current_user.reload.recent_work_units, :as => :work_unit
