#aux
  :float right
  :margin-top 2em
  :overflow hidden

  .block_inner
    :margin .5em

  #recent_work
    .block_inner, table.listing
      :margin 0
    table.listing
      :width 100%

#picker
  table
    :width 100%
    :max-width 100%
    :margin 0
    :table-layout fixed
    td
      :white-space nowrap
      :overflow hidden
      :table-layout fixed
    td.tools
      :width 20px
    td.project_name
      :width 168px
  .block_inner
    :margin 2px

#aux, #picker
  .block
    :border 1px $bcolor solid
    :background white
    :margin-bottom 1em

    h2
      :border-bottom 1px $bcolor solid
      :padding .25em
      :background $title_bg_color
      :margin 0
      :color $title_text_color

