$admin_menu_height: 22px
$content_width: 960px
$admin_background_color: #775

=clearfix
  :content "."
  :display block
  :height 0
  :clear both
  :visibility hidden

$error_background: #e9b2b2

=error_notice_colors
  :border-width 2px
  :border-style solid
  :border-color #f44
  :background $error_background
