#nav
  li
    :list-style none
    :float left
    a
      :border 1px solid black
      :padding .25em 1em
      :text-decoration none
      :background #ccc
    a:hover
      :background #36f
      :color white


  ul:after
    +clearfix