#current_project
  - if current_project
    - if current_project.description
      %p= current_project.description

    = render :partial => 'home/project_hours_report'
    = render :partial => 'home/work_report'

  - else
    %p No project selected.



