- set_headline project_headline(current_project)

-content_for :aux do
  = render :partial => "shared/timeclock"
  = render :partial => "shared/recent_work"

-content_for :picker do
  = render :partial => "shared/project_picker"

= render :partial => 'home/current_project_block'
