# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
development:
  secret_key_base: fd1c1c7c5acf75ae98a29af41a2bb88cdeffa1a4331c4f9a5f004852b65c899673f58c28fcb007b0c616fad01a55c0b5b096c88a8db52203eadc685de4859119
  api_keys:
    github: xxxx
    pivotal: xxxx
  smtp:
    address: smtp.gmail.com
    port: 587
    domain: lrdesign.com
    user_name: test@lrdesign.com
    password: xxxxxxx
  email:
    from: noreply@example.com
    reply_to: noreply@example.com
    # Destination for emails in dev environment
    # this should be left blank in production
    test: xxxxxx@lrdesign.com # Set this to your email address for development!
    from_domain: 'localhost:3000'
  snapshot_server:
    url: https://www.notaserver.com
    user: user
    password: password
  sitemap_base_url: http://localhost:3000/

test:
  secret_key_base: f0e2dafef77cad64895d65e9df4a8d5236938539b6c3bd0e2d41559c4f49222c7f7d917abd1b29ea481949412d5ba825ed8ec7390ecdbff12b4a6bc302b683e2
  api_keys:
    github: xxxx
    pivotal: xxxx
  smtp:
    address: smtp.gmail.com
    port: 587
    domain: lrdesign.com
    user_name: test@lrdesign.com
    password: xxxxxxx
  email:
    from: noreply@example.com
    reply_to: noreply@example.com
    # Destination for emails in dev environment
    # this should be left blank in production
    test: xxxxxx@lrdesign.com # Set this to your email address for development!
    from_domain: 'localhost:3000'
  snapshot_server:
    url: https://www.notaserver.com
    user: user
    password: password
  sitemap_base_url: http://localhost:3000/

production:
# Do not keep production secrets in the repository,
# instead read values from the environment.
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
