@import _constants.sass
@import '../groundwork-and-overrides'

body
  :font-family helvetica, "sans-serif"
  :background $page_background image-url('background.png') top left repeat
  :border 0
  :margin 0
  :padding 0
  :font-size 12px

#inset
  :background image-url('top_background.png') top left repeat-x

#wrap
  @extend %container


#header
  :height 40px
  :margin-bottom 1px
  :color white

#message
  :text-align center
  h2
    :text-align right
    :float right
    :font-size 14px
    :padding-top 6px
  h1
    :padding-top 10px
    :margin 0

#logo, #logo a
  :height 40px
  :width 57px
  :margin 0
  :float left

#nav
  :border 0px
#nav:after
  +clearfix

#aux
  :margin-top 2em
  @extend .one
  @extend .fourth
  @extend .right-three

#picker
  :margin-top 2em
  :padding 0
  @extend .one
  @extend .fourth
  @extend .left-one

#content-column
  :float left
  :margin-top 2em
  h1
    :margin-top 0
  &.with_picker
    @extend .two
    @extend .left-one
    @extend .fourths
    padding-right: 20px
    padding-left: 20px

  &.without_picker
    @extend .three
    #content-body
      @extend .row

    &.without_aux
      @extend .centered

    &.with_aux
      @extend .left-one
      padding-right: 20px

    @extend .fourths

#content-wrap:after
  +clearfix

