@import constants.sass

#admin_nav
  :background $admin_background_color

  ul
    :margin-bottom 0px

  ul li:hover
    :background $admin_hover_color

  a
    :background transparent
    :border none

  span
    :display block
    :font-weight bold
    :padding 2px 2em
    :line-height 1.6em


