@import constants.sass

#nav, #admin_nav
  a
    :text-decoration none
    :color black
    :display block
    :padding 2px 2em
  a:before
    :content "> "
  ul li
    :list-style none
    :display block
    :margin 0
    :color black
#nav
  :width 100%
  :color black

  ul
    :margin 0

  ul li
    :float left

  ul li:hover
    :background $nav_hover_color



.nav, #nav, #admin_nav
  +clearfix
