@import constants.sass

$tools_width: 24px
$tools_padding: 2px


#picker
  .project_picker, .recent_projects
    :width 100%
    :margin 0
    :padding 0
    :border 0
    :border-collapse collapse
    :table-layout fixed
    :font-size 13px
    :line-height 1.3em
    .project-list
      :margin-bottom 0px
      &.depth
        display: none
        &.d0
          display: block
      :clear both
    .project-entry
      :white-space nowrap
      :overflow hidden
      :padding 2px 0 0 0
      :margin 0
      :font-size 13px
      :line-height 1.3em
    a, .project-entry img, button
      :padding 0
      :margin 0
    .project-entry
      .tools
        :padding-top 4px
        :padding-right 8px
        :text-align center
        :float right
        .expand-widget
          .collapse
            display: none
          &.expanded
            .collapse
              display: inline-block
            .expand
              display: none
      .project_name
        :overflow hidden
        :float left
        :padding .25em

    .project_entry:hover
      :background $primary_light_1
      a, button
        :color black
    .project-entry.category
      :font-weight bold
      :font-size 14px
      :padding-top .75em
      button
        :font-weight bold
    .project-entry.current
      :background $secondary_med
      +round
      .tools img
        :display none
      a, button
        :color black
  .recent_projects
    .project-entry:first-child
      :padding-top .75em
  .block_inner
    :margin 0
