@import constants.sass
$labelwidth: 10em
$ddmargins: 0.5em

#timeclock.block
  :background $secondary_light_1

  h2
    :background $secondary_light_2
    :text-align center
  .block_content
    display: block

  table
    :margin-bottom 1em
    :border-collapse collapse
    :border 1px solid black
    :width 100%
  th
    :background $contrast_background_color
    :font-weight bold
  td, th
    :padding 2px 4px
    :overflow hidden
  form
    :background transparent
    :padding 0.5em 1em
    #overrides
      :display none

  button, .button
    :text-align center
    :background $secondary_med
    :border 2px solid $secondary_dark_2
    :color black
    :width 100%
    +round

    &:hover
      :background $secondary_dark_2
      :color white


  .text_content
    :padding 0.5em 1em

  #task_elapsed
    :margin 0.5em 0.5em 0 0.5em
    :text-align center
    :font-size 24px
    :font-family 'DigitaldreamFatRegular', serif
    :color $secondary_med
    :background black
    :border 2px solid $secondary_dark_2
    :padding 0 5px 7px 5px

  #details
    :text-align center
    :margin-top 0.25em

  label
    :font-weight bold
    :margin-right .5em

  .labeled_input
    :margin-bottom .25em
    :margin-left 1em

    label
      :display block
      :float left
      :width 5em
      :text-align right
      :font-weight bold

    .comment
      :display inline
      :font-style italic
      :margin-left 1em
    input
      :margin-right .5em
      :width 65%
