$socialPath:   "../assets/groundworkcss/social-icons" !default;
$fontAwesomePath:   "../assets/groundworkcss" !default;

/* =============================================
 *       GroundworkCSS by Gary Hepting
 *          Last Updated:2013-1-28
 * ===========================================*/

// variables & mixins
@import "groundworkcss-scss/variables";

$font-size: 12px;
$button-color: darken(#aaaacc, 10%);
$button-active: darken($button-color, 20%);
@import "groundworkcss-scss/mixins";

// ====================
//  media query helpers
// ====================

@mixin large-desktop {
  @media only screen and (min-width:1201px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width:1025px) {
    @content;
  }
}

@mixin ipad {
  @media only screen and (min-width:768px) and (max-width:1024px) {
    @content;
  }
}

@mixin small-tablet {
  @media only screen and (max-width:767px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width:480px) {
    @content;
  }
}

@mixin small-mobile {
  @media only screen and (max-width:319px) {
    @content;
  }
}


// set the stage
@import "groundworkcss-scss/reset";
@import "groundworkcss-scss/global";

// webfonts
@import "groundworkcss-scss/webfonts";

// components
@import "groundworkcss-scss/grid";
@if $classes {
  @include grid-classes();
}

@import "groundworkcss-scss/typography";
@import "groundworkcss-scss/buttons";
@import "groundworkcss-scss/forms";
@import "groundworkcss-scss/navigation";
@import "groundworkcss-scss/tabs";
@import "groundworkcss-scss/ui-elements";
@import "groundworkcss-scss/tables";
@import "groundworkcss-scss/font-awesome";
@import "groundworkcss-scss/social-icons";
//@import "groundworkcss-scss/tooltips";
@import "groundworkcss-scss/popovers";
@import "groundworkcss-scss/modals";
@import "groundworkcss-scss/orbit";

// helper classes
@import "groundworkcss-scss/layout";

// responsive adjustments
@import "groundworkcss-scss/responsive";

body {
	background: url("groundworkcss/pw_maze_white.png");
}

header{
	background: white;
}
