
// ====================
//  media query helpers
// ====================

@mixin large-desktop {
  @media only screen and (min-width:1201px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width:1025px) {
    @content;
  }
}

@mixin ipad {
  @media only screen and (min-width:768px) and (max-width:1024px) {
    @content;
  }
}

@mixin small-tablet {
  @media only screen and (max-width:767px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width:480px) {
    @content;
  }
}

@mixin small-mobile {
  @media only screen and (max-width:319px) {
    @content;
  }
}

@include small-tablet {
  #admin_nav {
    span {
      display: block;
    }
  }
  .toggler:after {
    width: 0px;
    height: 0px;
    display: inline-block;
    content: "&darr;";
    text-indent: -99999px;
    vertical-align: top;
    margin-top: 8px;
    margin-left: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    filter: alpha(opacity=50);
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
  }

  .toggle-target {
    display: none;
  }

  #content-body.without_picker {
    display: block;
  }

  #timeclock .block_content {
    display: block;
  }

  #content-column.with_picker {
    padding-right: 0px;
    padding-left: 0px;
  }

  #content-column.with_aux {
    padding-right: 0px;
  }

  #aux {
    margin-top: 1em;
  }

  #picker, #content-column {
    margin-top: 0em;
  }

}

@include ipad {
  .toggle-target {
    display: block !important;
  }
}

@include desktop {
  .toggle-target {
    display: block !important;
  }
}
