@charset "UTF-8";
@import "jquery-ui.scss";
@import "groundwork-and-overrides";

clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

a:focus {
  -moz-outline-style: none;
}

.nobr {
  white-space: nowrap;
}

@font-face {
  font-family: "DigitaldreamFatRegular";
  src: url("/type/digitaldreamfat-webfont.eot");
  src: local("☺"), url("/type/digitaldreamfat-webfont.woff") format("woff"), url("/type/digitaldreamfat-webfont.ttf") format("truetype"), url("/type/digitaldreamfat-webfont.svg#webfontZyCCdhMm") format("svg");
  font-weight: normal;
  font-style: normal;
}


h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0.5em 0;
}

h2, h1 {
  font-size: 160%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 100%;
}

#content {
  border: 1px #666666 solid;
  background: white;
  h1 {
    border-bottom: 1px #666666 solid;
    padding: 0.25em;
    background: #000044;
    color: white;
    margin-bottom: 0;
  }
  #content-body {
    padding: 1em;
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
}

.labeled_input {
  margin-bottom: 10px;
  label {
    float: left;
  }
  input {
    width: auto;
  }
  .comment {
    display: block;
    margin-top: 5px;
  }
}

table.listing {
  border-collapse: collapse;
  margin: 1em 0;
  border: 1px solid black;
  border-bottom-width: 2px;
  td {
    border: 1px solid black;
    padding: 3px 0.25em;
  }
  th {
    border: 1px solid black;
    padding: 3px 0.25em;
    font-weight: bold;
    background: #ccccee;
  }
  tr {
    &.odd {
      background: white;
    }
    &.even {
      background: #eeeeee;
    }
    &.info td {
      border-top-width: 2px;
    }
    &.description td {
      border-bottom-width: 2px;
    }
    &.work_unit:hover {
      background-color: #ffff99;
    }
    &.one_line td {
      white-space: nowrap;
      overflow: hidden;
    }
  }
  td {
    &.date, &.tools {
      white-space: nowrap;
    }
  }
}

#hours_report {
  margin-bottom: 1em;
  .panes {
    .pane {
      padding-top: 0;
      padding-bottom: 0;
    }
    table {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

p {
  margin: 0.5em 0 1em 0;
}

li {
  list-style: disc;
  margin-left: 2em;
}

dl.values dt {
  font-weight: bold;
  display: run-in;
  &:after {
    content: ": ";
  }
}

#work_unit_form {
  margin: 1em 0;
  border: 1px solid gray;
  background: #ccccff;
  padding: 0.5em;
}

body {
  font-family: helvetica, "sans-serif";
  background: #e8e9ed image-url("background.png") top left repeat;
  border: 0;
  margin: 0;
  padding: 0;
}

#inset {
  background: image-url("top_background.png") top left repeat-x;
}

#wrap {
   @extend %container;
}

#header {
  height: 40px;
  margin-bottom: 1px;
  color: white;
}

#message {
  text-align: center;
  h2 {
    text-align: right;
    float: right;
    font-size: 14px;
    padding-top: 6px;
  }
  h1 {
    padding-top: 10px;
    margin: 0;
  }
}

#logo {
  height: 40px;
  width: 57px;
  margin: 0;
  float: left;
  a {
    height: 40px;
    width: 57px;
    margin: 0;
    float: left;
  }
}

#nav {
  border: 0px;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

#aux {
  margin-top: 2em;
  @extend .one;
  @extend .fourth;
  @extend .right-three;
}

#picker {
  margin-top: 2em;
  padding: 0;
  @extend .one;
  @extend .fourth;
  @extend .left-one;
}

#content-column {
  margin-top: 2em;
  h1 {
    margin-top: 0;
  }
  &.with_picker {
    @extend .two;
    @extend .left-one;
    padding-right: 20px;
    padding-left: 20px;
  }
  &.without_picker {
    @extend .three;
    @extend .centered;
  }
  @extend .fourths;
}

#content-wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

label {
  font-weight: bold;
}

.nostretch select {
  width: auto;
}

.errorExplanation {
  border-width: 2px;
  border-style: solid;
  border-color: #ff4444;
  background: #e9b2b2;
  padding: 1em;
  margin-bottom: 1em;
  h2 {
    font-size: 120%;
    color: black;
    margin-top: 0;
  }
  p, ul {
    margin-bottom: 0.5em;
  }
}

.fieldWithErrors {
  display: inline;
  label {
    color: red;
  }
  input, textarea {
    background-color: #e9b2b2;
  }
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

a:focus {
  -moz-outline-style: none;
}

.nobr {
  white-space: nowrap;
}

#footer {
  margin-top: 1em;
  border-top: 1px solid gray;
  font-size: 12px;
  font-weight: bold;
  color: #666666;
  text-align: center;
  padding-top: 1em;
  a {
    text-decoration: none;
    color: #222266;
  }
}

#admin_nav {
  background: #3ad932;
  span {
      display: none;
  }
  ul {
    li:hover {
      background: #1ab912;
    }
  }
}

@include small-tablet {
  #admin_nav {
    span {
      display: block;
    }
  }
  .toggler:after {
    width: 0px;
    height: 0px;
    display: inline-block;
    content: "&darr;";
    text-indent: -99999px;
    vertical-align: top;
    margin-top: 8px;
    margin-left: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    filter: alpha(opacity=50);
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
  .toggle-target {
    display: none;
  }
  #timeclock .block_content {
    display: block !important;
  }
  #content-column.with_picker {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.admin_tool {
  border: 1px solid black;
  padding: 5px;
  h2 {
    background: #3ad932;
    color: black;
  }
  th {
    background: #cccccc;
    font-weight: bold;
    padding: 2px 5px;
    border: 1px solid #bbbbbb;
  }
  td {
    padding: 2px 5px;
    border: 1px solid #bbbbbb;
  }
}

#person_groups {
  width: 120px;
  float: right;
}

$admin_nav_color: #3ad932;

#nav a, #admin_nav a {
  display: block;
}

#nav a, #admin_nav a, #admin_nav span{
  text-decoration: none;
  font-weight: bold;
  color: black;
  
  padding: 2px 2em;
}

#admin_nav a, #admin_nav span {
  border: 0px;
  border-radius: 0px;
  background: $admin_nav_color;
  &:hover {
    background: darken($admin_nav_color, 15%);
  }
}
#nav ul li, #admin_nav ul li {
  list-style: none;
  font-weight: bold;
  display: block;
  float: left;
  margin: 0;
  color: black;
}

#nav {
  width: 100%;
  background: #eeeeee;
  color: black;
  ul {
    margin-bottom: 0px;
    li:hover {
      background: #cccccc;
    }
    &.left {
      margin-left: 0px;
      float: left;
    }
    &.right {
      float: right;
    }
  }
}

.nav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.flash {
  border: 1px solid black;
  margin-bottom: 1em;
  margin-top: 0;
  padding: 3px;
  p {
    margin: 0;
  }
}

.success {
  background: #99ff99;
}

.notice {
  background: #ffff99;
}

.error {
  background: #ff9999;
}

#timeclock {
  table {
    margin-bottom: 1em;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
  }
  th {
    background: #999999;
    font-weight: bold;
  }
  td, th {
    padding: 2px 4px;
    overflow: hidden;
  }
  #task_elapsed {
    text-align: center;
    font-size: 24px;
    font-family: "DigitaldreamFatRegular", serif;
    color: lime;
    background: #330000;
    border: 2px solid green;
    padding: 0 5px 7px 5px;
    margin-bottom: 0.5em;
  }
}

.tabbed_panel {
  padding: 0px;
  clear: both;
  width: 100%;
  margin-top: 1em;
}

.pane {
  padding: 0.5em 0;
}

.pane_selected {
  display: block;
}

.pane_unselected {
  display: none;
}

.panes {
  clear: both;
  border-left: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  border-top: solid 1px #999999;
  border-right: solid 1px #999999;
  background-color: white;
  padding: 10px;
  margin: 0;
}

li {
  &.tab {
    position: relative;
    top: 1px;
    float: left;
    padding: 0;
    margin: 0px 3px 0px 0px;
    font: bold 1.2em sans-serif;
    list-style: none;
    border-left: solid 1px #cccccc;
    border-bottom: solid 1px #999999;
    border-top: solid 1px #999999;
    border-right: solid 1px #999999;
    -moz-user-select: none;
    -khtml-user-select: none;
    cursor: pointer;
    font-size: 11px;
  }
  &.tab_selected {
    background-color: white;
    border-bottom: 1px solid white;
  }
  &.tab_unselected {
    background-color: #aaaacc;
    &:hover {
      background-color: #aa7777;
    }
  }
  &.tab a {
    display: block;
    float: left;
    padding: 4px 10px;
    color: black;
    text-decoration: none;
    &:hover {
      color: #000099;
    }
  }
}

#aux {
  margin-top: 2em;
  overflow: hidden;
  .block_inner {
    margin: 0.5em;
  }
  #recent_work {
    .block_inner {
      margin: 0;
    }
    table.listing {
      margin: 0;
      width: 100%;
    }
  }
  .block {
    border: 1px #666666 solid;
    background: white;
    margin-bottom: 1em;
  }
}

#picker .block {
  border: 1px #666666 solid;
  @extend .row;
  background: white;
  margin-bottom: 1em;
}

#aux .block h2 {
  border-bottom: 1px #666666 solid;
  padding: 0.25em;
  background: #000044;
  margin: 0;
  color: white;
}

#picker {
  .block h2 {
    border-bottom: 1px #666666 solid;
    padding: 0.25em;
    background: #000044;
    margin: 0;
    color: white;
  }
  table.project_picker {
    @extend .one;
    @extend .whole;
    border: 1px solid transparent !important;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    table-layout: fixed;
    td {
      white-space: nowrap;
      overflow: hidden;
      padding: 2px 0 0 0;
      margin: 0;
      padding: 0;
      margin: 0;
    }
    a {
      padding: 0;
      margin: 0;
    }
    td {
      img {
        padding: 0;
        margin: 0;
      }
      div.tools {
        padding: 0;
        float: right;
        text-align: center;
      }
      div.project_name {
        float: left;
      }
    }
    tr {
      &.category td {
        font-weight: bold;
        padding-top: 0.75em;
      }
      &.current td {
        background: #ffff99;
        padding-top: 3px;
        padding-bottom: 3px;
        &.tools img {
          display: none;
        }
      }
    }
  }
  .block_inner {
    margin: 0;
  }
}

.tooltip {
  display: none;
  background: #d0d0f0 !important;
  padding: 5px;
  font-size: 11px;
  color: black;
  border: 1px solid black;
  z-index: 10;
  width: 300px;
  dt {
    display: block;
    width: 80px;
    margin: 0.25em 0;
    float: left;
    clear: both;
    font-weight: bold;
  }
  dd {
    margin: 0.25em 0 0.25em 0;
    width: 210px;
    float: right;
  }
}

.ninja.busy {
  background-color: white;
  background-image: image-url("ui/spinner.gif");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.75;
  filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=75)";
}

form.mizugumo_graceful_form {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

table.scaffold {
  border-collapse: collapse;
  border: 1px solid black;
  td, th {
    border-collapse: collapse;
    border: 1px solid black;
  }
  td, th {
    padding: 0.5em;
  }
  td {
    td, th {
      padding: 0.5em;
    }
  }
  th {
    td, th {
      padding: 0.5em;
    }
  }
}

form.mizugumo_graceful_form {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.being_edited {
  color: #cccccc;
  font-style: italic;
  background: #dddddd;
  text-shadow: #999999 0 0 4px;
  a {
    color: #ccccdd;
    text-shadow: #aaaacc 0 0 4px;
    &:visited {
      color: #ccccdd;
      text-shadow: #aaaacc 0 0 4px;
    }
  }
}

#debug {
  font-size: 9px;
  color: white;
  background: #555566;
  padding: 1px;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
  a {
    color: white;
    text-style: none;
  }
  .version {
    float: right;
    width: 30%;
    padding-right: 1em;
  }
  .name {
    float: left;
    width: 30%;
    text-align: left;
    padding-left: 1eem;
  }
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

body a#logical-insight-enabler {
  display: block;
  width: auto;
  margin: 0 auto;
  height: auto;
  text-align: center;
  color: white;
  font-size: 9px;
  background: transparent;
  position: absolute;
  left: 48%;
  padding: 0 2px;
  &:hover {
    width: auto;
    height: auto;
    background: blue;
  }
}

.ui-timepicker-div {
  .ui-widget-header {
    margin-bottom: 8px;
  }
  dl {
    text-align: left;
    dt {
      height: 25px;
      margin-bottom: -25px;
    }
    dd {
      margin: 0 10px 10px 65px;
    }
  }
  td {
    font-size: 90%;
  }
}

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.ninja_busy {
  background-color: white;
  background-image: image-url("ui/spinner.gif");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.75;
  filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=75)";
}

input.ninja_placeholder, textarea.ninja_placeholder {
  color: #666688;
  font-style: italic;
  opacity: 0.75;
}

.new_work_unit, .edit_work_unit {
  @include border-radius(5px);
  border: 1px solid gray;
  @extend .clearfix;
  padding: 10px;
}
