.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

a:focus {
  -moz-outline-style: none; }

.nobr {
  white-space: nowrap; }

.hide-initially {
  display: inline-block !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden !important; }
