- if current_user and current_user.admin?
  - items = ["Users", users_path], ["Clients", clients_path], ["Projects", projects_path], ["Bills", bills_path ], ["Invoices", invoices_path]
  %nav#admin_nav
    = slide_toggle_tag(:span, "Admin Menu", "admin_menu")
    ADMIN:
    %ul#admin_menu
      -items.each do |name, path|
        %li= link_to(name, path)
